ci:
  skip: [pylint, mypy, pytest]
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
    - id: pyupgrade
      args: [--py38-plus]

  - repo: https://github.com/hadialqattan/pycln
    rev: v1.3.2
    hooks:
      - id: pycln
        args: [--all]

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [-C]

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true

      - id: pytest
        name: pytest
        entry: pytest --cov=stanfordkarel --cov-report=html --durations=0
        language: python
        types: [python]
        always_run: true
        pass_filenames: false
        verbose: true
